[Unit]
Description=Reflector Mirrorlist Update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --verbose --country 'United States' --latest 20 --protocol http --sort rate --save /etc/pacman.d/mirrorlist
